*{
  padding: 0px;
  margin: 0px;
}

body{
  width:100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;


}
.passwordBox{
  width:350px;
  height:300px;
  background-color: rgb(39, 14, 202);
  padding:20px;
 
}

.passwordBox h2{
  text-align: center;
  margin-bottom: 2px;
  color:white;
  
}
.passwordBox-in{
  display: flex;

}
.passwordBox-in input{
  flex-basis: 80%;
  padding:10px;
  margin-right: 5px;
}

.passwordBox-in button{
  flex-basis: 20%;
  padding:10px;
}

.passLength{
  display: flex;
  justify-content: space-between;
  padding:10px 0px;
}

.passLength input{
  flex-basis: 20%;
}

.passLength label{
  flex-basis: 80%;
  font-weight: 600;
}

.btn{

background-color: white;
color:black;
width:100%;
height: 30px;
cursor: pointer;

}